* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #009688;
    padding-left: 30px;
}

#banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), #009688), url(./images/line.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;

}

/* .nav {
    display: flex;
    float: right;
} */
.nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    font-size: 25px;
    font-style: italic;
    text-decoration: none;
}

.navdiv {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    font-size: 25px;
    font-style: italic;
    text-decoration: none;
}

a {
    color: black;
    text-decoration: none;
    padding: 20px;
}

#opennote {
    text-align: center;
    color: #fff;
    padding-top: 180px;
}

#opennote h1 {
    font: size 130px;
}

#opennote p {
    font: size 20px;
    font-style: italic;
}

#project {
    text-align: center;
    color: blue;
    padding-top: 180px;
    color: #fff;
    font: size 20px;
    font-style: italic;

}

#project h1 {
    font: size 130px;
}

#project p {
    font: size 20px;
    font-style: italic;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    font-family: italic;
    font-weight: 400;
}

img {
    float: right;
    border-radius: 1cm;
    margin-bottom: 3cm;
}

#prog {

    text-align: center;
    color: #fff;
    padding-top: 180px;
}

#aboutme {
    text-align: left;
    color: #fff;
    font: size 20px;
    font-style: italic;

}