* {
    margin: 0;
    padding: 0;
}

#banner {
    background-image:linear-gradient( rgba(0, 0, 0, 0.5),#009688),url(./images/line.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;

}